[Unit]
Description=Shutdown RPi after 3 sec of button pushed
After=Network.target

[Service]
ExecStart=python3 /home/pi/kiscelli/shutdown/shutdown_btn.py &
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target