[Unit]
Description=Start video playing on boot
[Service]
ExecStart=parallel -u ::: 'omxplayer /home/pi/Videos/timer.mp4 --loop' 'omxplayer /home/pi/Videos/timer.mp4 --loop'
Restart=always
RestartSec=10
[Install]
WantedBy=multi-user.target